* {
    box-sizing: border-box;
}
@font-face {
    font-family: 'Humanist531C Black BT';
    src: url('assets/Humanist531CBlackBT.woff2') format('woff2'),
        url('assets/Humanist531CBlackBT.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

/* style */

body {
    height: 100vh;
    display: flex;
    animation: appear 2s;
  }
.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-color: black; */
}
.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    display: flex;
    /* height: 174px; */
    background-color: #F0F0F0;
    width: 100%;
}
.logo {
    width: 385px;
    padding: 60px 0 60px 60px;
}
.bg-image {
    position: fixed;
    z-index: -11;
}
.bg-image-blur {
    position: fixed;
    z-index: -10;
    display: none;
}
.bg-blur {
    display: block;
    animation: appear 3s;
}
.last {
    align-items: center;
    flex-direction: column;
}
.number {
    width: 414px;
    height: 414px;
    background: linear-gradient(180deg, #B04F00 18.4%, #FF9E00 75.16%);
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);    
    border-radius: 236px;
    font-family: 'Humanist531C Black BT';
    font-size: 152px;
    color: #FFFBE3;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

/* buttons */

.start {
    width: 167px;
    height: 161px;
    background: linear-gradient(180deg, #B04F00 18.4%, #FF9E00 75.16%);
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);    
    border-radius: 116px;
    border: none;
    animation: burn 1000ms ease-out infinite;
}
@keyframes flare {
    100% {
      transform: translateY(-20px) scale(3.5);
      filter: blur(10px);
      opacity: 0;
    }
  }
@keyframes burn {
    0% {
        color: rgba(255, 130, 110, 1);
        background: rgba(255, 255, 255, 1);
        box-shadow:
        0 0 5px 0 rgba(241, 136, 0, 1),
        0 0 5px 0 rgba(241, 136, 0, 0.8),
        0 0 5px 0 rgba(230, 230, 10, 0.6);
    }

    100% {
        color: rgba(0, 0, 0, 1);
        background: rgba(255, 255, 255, 1);
        box-shadow:
        0 -35px 40px 30px rgba(255, 130, 10, 0),
        0 -30px 30px 10px rgba(241, 136, 0, 0.8),
        0 -20px 10px 0 rgba(255, 255, 10, 0);
    }
}
.star {
    width: 62px;
}
.again {
    width: 167px;
    height: 161px;
    background: rgba(255, 229, 73, 0.25);
    border: 2px solid #F9B000;
    border-radius: 116px;
    /* display: flex; */
    align-items: center;
    margin-top: 50px;
}

/* app */

.first {
    display: block;
    transition: ease-in 2s all;
    animation: appear 1s;
}
@keyframes appear {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

/* second */

.second {
    display: none;
    font-family: 'Humanist531C Black BT';
    font-size: 8.1vw;
    color: #F0F0F0;
    /* line-height: 182px; */
    overflow: hidden;
    width: 20000px;
    position: absolute;
    bottom: 1.95vw;
    animation: appear 1s;
}
.second > div {
    overflow: hidden;
}
.second > div:nth-child(odd) {
    animation: moving-left 4.2s normal forwards ease-in;
}
.second > div:nth-child(even) {
    animation: moving-right 5s normal forwards ease-in;
}
@keyframes moving-left {
    from {
        transform: translate(0);
    } to {
        transform: translate(-1000px);
    }
}
@keyframes moving-right {
    from {
        transform: translate(0);
    } to {
        transform: translate(-1000px);
    }
}

/* last */

.last {
    display: none;
    animation: appear 1s;
}
.disappear {
    animation: hide 0.5s normal forwards ease-in;
}
@keyframes hide {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}